*.[oa]
*.exe
*~
__pycache__
*.h5
*.log
*.cbp

tmp*.txt

cpp/write
cpp/runtests
cpp/example
cpp/gtp
cpp/gtp.log
cpp/match
cpp/matchcuda
cpp/matchtensorflow
cpp/match.log
cpp/main
cpp/maincuda
cpp/mainopencl
cpp/katago
cpp/configs
cpp/evalsgf
cpp/runmatch.sh
cpp/runmatchauto.sh
cpp/runstuff.sh
cpp/runwrite.sh

cpp/program/gitinfo.h

data/
versions/
cpp/build

export_model_cuda.sh
mixmodels.sh
runfindposes.sh
runtraining.sh
runlztest*.sh

tmp
tmp.txt
test.txt
cpp/tmp
out.txt

# For clion IDE
.idea

# For cmake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

.DS_Store
GPATH
GRTAGS
GTAGS
/bin/ZERO_CHECK.vcxproj.filters
/bin/ZERO_CHECK.vcxproj
/bin/x64/Release/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
/bin/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/bin/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
/bin/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
/bin/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
/bin/x64/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
/bin/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/bin/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
/bin/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
/bin/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
/bin/Release/libssl-1_1-x64.dll
/bin/Release/libcrypto-1_1-x64.dll
/bin/program/gitinfo.h
/bin/packages.config
/bin/packages/openssl-vc142.1.1.0/openssl-vc142.1.1.0.nupkg
/bin/packages/openssl-vc142.1.1.0/logo.png
/bin/packages/openssl-vc142.1.1.0/build/native/openssl-vc142.targets
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/__DECC_INCLUDE_PROLOGUE.H
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/__DECC_INCLUDE_EPILOGUE.H
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/x509_vfy.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/x509v3.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/x509.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/whrlpool.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/ui.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/txt_db.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/ts.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/tls1.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/symhacks.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/stack.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/ssl3.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/ssl2.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/ssl.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/srtp.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/srp.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/sha.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/seed.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/safestack.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/rsa.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/ripemd.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/rc5.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/rc4.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/rc2.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/rand.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/pkcs7.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/pkcs12.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/pem2.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/pem.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/ossl_typ.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/opensslv.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/opensslconf.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/ocsp.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/obj_mac.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/objects.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/modes.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/mdc2.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/md5.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/md4.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/md2.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/lhash.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/kdf.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/idea.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/hmac.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/e_os2.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/evp.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/err.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/engine.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/ecdsa.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/ecdh.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/ec.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/ebcdic.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/dtls1.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/dsa.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/dh.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/des.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/ct.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/crypto.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/conf_api.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/conf.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/comp.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/cms.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/cmac.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/cast.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/camellia.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/buffer.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/bn.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/blowfish.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/bio.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/async.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/asn1_mac.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/asn1t.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/asn1.h
/bin/packages/openssl-vc142.1.1.0/build/native/include/openssl/aes.h
/bin/packages/openssl-vc142.1.1.0/build/native/bin/libssl-vc142-x86-1_1_0.lib
/bin/packages/openssl-vc142.1.1.0/build/native/bin/libssl-vc142-x86-1_1_0.dll
/bin/packages/openssl-vc142.1.1.0/build/native/bin/libssl-vc142-x64-1_1_0.lib
/bin/packages/openssl-vc142.1.1.0/build/native/bin/libssl-vc142-x64-1_1_0.dll
/bin/packages/openssl-vc142.1.1.0/build/native/bin/libcrypto-vc142-x86-1_1_0.lib
/bin/packages/openssl-vc142.1.1.0/build/native/bin/libcrypto-vc142-x86-1_1_0.dll
/bin/packages/openssl-vc142.1.1.0/build/native/bin/libcrypto-vc142-x64-1_1_0.lib
/bin/packages/openssl-vc142.1.1.0/build/native/bin/libcrypto-vc142-x64-1_1_0.dll
/bin/packages/openssl-vc142.1.1.0/.signature.p7s
/bin/katago.vcxproj.user
/bin/katago.vcxproj.filters
/bin/katago.vcxproj
/bin/katago.sln
/bin/katago.dir/Release/tune.obj
/bin/katago.dir/Release/trainingwrite.obj
/bin/katago.dir/Release/timer.obj
/bin/katago.dir/Release/timecontrols.obj
/bin/katago.dir/Release/threadsafequeue.obj
/bin/katago.dir/Release/testtrainingwrite.obj
/bin/katago.dir/Release/testtime.obj
/bin/katago.dir/Release/testsgf.obj
/bin/katago.dir/Release/testsearch.obj
/bin/katago.dir/Release/testscore.obj
/bin/katago.dir/Release/testrules.obj
/bin/katago.dir/Release/testownership.obj
/bin/katago.dir/Release/testnninputs.obj
/bin/katago.dir/Release/testnn.obj
/bin/katago.dir/Release/testcommon.obj
/bin/katago.dir/Release/testboardbasic.obj
/bin/katago.dir/Release/testboardarea.obj
/bin/katago.dir/Release/test.obj
/bin/katago.dir/Release/sha2.obj
/bin/katago.dir/Release/sgf.obj
/bin/katago.dir/Release/setup.obj
/bin/katago.dir/Release/selfplaymanager.obj
/bin/katago.dir/Release/selfplay.obj
/bin/katago.dir/Release/searchresults.obj
/bin/katago.dir/Release/searchparams.obj
/bin/katago.dir/Release/search.obj
/bin/katago.dir/Release/sandbox.obj
/bin/katago.dir/Release/runtests.obj
/bin/katago.dir/Release/rules.obj
/bin/katago.dir/Release/rand_helpers.obj
/bin/katago.dir/Release/rand.obj
/bin/katago.dir/Release/playutils.obj
/bin/katago.dir/Release/playsettings.obj
/bin/katago.dir/Release/play.obj
/bin/katago.dir/Release/opencltuner.obj
/bin/katago.dir/Release/openclkernels.obj
/bin/katago.dir/Release/openclhelpers.obj
/bin/katago.dir/Release/openclbackend.obj
/bin/katago.dir/Release/numpywrite.obj
/bin/katago.dir/Release/nninputs.obj
/bin/katago.dir/Release/nneval.obj
/bin/katago.dir/Release/mutexpool.obj
/bin/katago.dir/Release/multithread.obj
/bin/katago.dir/Release/modelversion.obj
/bin/katago.dir/Release/misc.obj
/bin/katago.dir/Release/md5.obj
/bin/katago.dir/Release/matchauto.obj
/bin/katago.dir/Release/match.obj
/bin/katago.dir/Release/makedir.obj
/bin/katago.dir/Release/main.obj
/bin/katago.dir/Release/lzparse.obj
/bin/katago.dir/Release/lzcost.obj
/bin/katago.dir/Release/logger.obj
/bin/katago.dir/Release/loadmodel.obj
/bin/katago.dir/Release/katago.vcxproj.FileListAbsolute.txt
/bin/katago.dir/Release/katago.tlog/link.write.1.tlog
/bin/katago.dir/Release/katago.tlog/link.read.1.tlog
/bin/katago.dir/Release/katago.tlog/link.command.1.tlog
/bin/katago.dir/Release/katago.tlog/katago.lastbuildstate
/bin/katago.dir/Release/katago.tlog/CustomBuild.write.1.tlog
/bin/katago.dir/Release/katago.tlog/CustomBuild.read.1.tlog
/bin/katago.dir/Release/katago.tlog/CustomBuild.command.1.tlog
/bin/katago.dir/Release/katago.tlog/CL.write.1.tlog
/bin/katago.dir/Release/katago.tlog/CL.read.1.tlog
/bin/katago.dir/Release/katago.tlog/CL.command.1.tlog
/bin/katago.dir/Release/homedata.obj
/bin/katago.dir/Release/hash.obj
/bin/katago.dir/Release/gtpconfig.obj
/bin/katago.dir/Release/gtp.obj
/bin/katago.dir/Release/global.obj
/bin/katago.dir/Release/gatekeeper.obj
/bin/katago.dir/Release/fancymath.obj
/bin/katago.dir/Release/evalsgf.obj
/bin/katago.dir/Release/elo.obj
/bin/katago.dir/Release/distributiontable.obj
/bin/katago.dir/Release/desc.obj
/bin/katago.dir/Release/datetime.obj
/bin/katago.dir/Release/contribute.obj
/bin/katago.dir/Release/config_parser.obj
/bin/katago.dir/Release/commandline.obj
/bin/katago.dir/Release/client.obj
/bin/katago.dir/Release/bsearch.obj
/bin/katago.dir/Release/boardhistory.obj
/bin/katago.dir/Release/board.obj
/bin/katago.dir/Release/benchmark.obj
/bin/katago.dir/Release/asyncbot.obj
/bin/katago.dir/Release/analysisdata.obj
/bin/katago.dir/Release/analysis.obj
/bin/katago.dir/Debug/vc142.pdb
/bin/katago.dir/Debug/tune.obj
/bin/katago.dir/Debug/trainingwrite.obj
/bin/katago.dir/Debug/timer.obj
/bin/katago.dir/Debug/timecontrols.obj
/bin/katago.dir/Debug/threadsafequeue.obj
/bin/katago.dir/Debug/testtrainingwrite.obj
/bin/katago.dir/Debug/testtime.obj
/bin/katago.dir/Debug/testsgf.obj
/bin/katago.dir/Debug/testsearch.obj
/bin/katago.dir/Debug/testscore.obj
/bin/katago.dir/Debug/testrules.obj
/bin/katago.dir/Debug/testownership.obj
/bin/katago.dir/Debug/testnninputs.obj
/bin/katago.dir/Debug/testnn.obj
/bin/katago.dir/Debug/testcommon.obj
/bin/katago.dir/Debug/testboardbasic.obj
/bin/katago.dir/Debug/testboardarea.obj
/bin/katago.dir/Debug/test.obj
/bin/katago.dir/Debug/sha2.obj
/bin/katago.dir/Debug/sgf.obj
/bin/katago.dir/Debug/setup.obj
/bin/katago.dir/Debug/selfplaymanager.obj
/bin/katago.dir/Debug/selfplay.obj
/bin/katago.dir/Debug/searchresults.obj
/bin/katago.dir/Debug/searchparams.obj
/bin/katago.dir/Debug/search.obj
/bin/katago.dir/Debug/sandbox.obj
/bin/katago.dir/Debug/runtests.obj
/bin/katago.dir/Debug/rules.obj
/bin/katago.dir/Debug/rand_helpers.obj
/bin/katago.dir/Debug/rand.obj
/bin/katago.dir/Debug/playutils.obj
/bin/katago.dir/Debug/playsettings.obj
/bin/katago.dir/Debug/play.obj
/bin/katago.dir/Debug/opencltuner.obj
/bin/katago.dir/Debug/openclkernels.obj
/bin/katago.dir/Debug/openclhelpers.obj
/bin/katago.dir/Debug/openclbackend.obj
/bin/katago.dir/Debug/numpywrite.obj
/bin/katago.dir/Debug/nninputs.obj
/bin/katago.dir/Debug/nneval.obj
/bin/katago.dir/Debug/mutexpool.obj
/bin/katago.dir/Debug/multithread.obj
/bin/katago.dir/Debug/modelversion.obj
/bin/katago.dir/Debug/misc.obj
/bin/katago.dir/Debug/md5.obj
/bin/katago.dir/Debug/matchauto.obj
/bin/katago.dir/Debug/match.obj
/bin/katago.dir/Debug/makedir.obj
/bin/katago.dir/Debug/main.obj
/bin/katago.dir/Debug/lzparse.obj
/bin/katago.dir/Debug/lzcost.obj
/bin/katago.dir/Debug/logger.obj
/bin/katago.dir/Debug/loadmodel.obj
/bin/katago.dir/Debug/katago.vcxproj.FileListAbsolute.txt
/bin/katago.dir/Debug/katago.tlog/link.write.1.tlog
/bin/katago.dir/Debug/katago.tlog/link.read.1.tlog
/bin/katago.dir/Debug/katago.tlog/link.command.1.tlog
/bin/katago.dir/Debug/katago.tlog/katago.lastbuildstate
/bin/katago.dir/Debug/katago.tlog/CustomBuild.write.1.tlog
/bin/katago.dir/Debug/katago.tlog/CustomBuild.read.1.tlog
/bin/katago.dir/Debug/katago.tlog/CustomBuild.command.1.tlog
/bin/katago.dir/Debug/katago.tlog/CL.write.1.tlog
/bin/katago.dir/Debug/katago.tlog/CL.read.1.tlog
/bin/katago.dir/Debug/katago.tlog/CL.command.1.tlog
/bin/katago.dir/Debug/homedata.obj
/bin/katago.dir/Debug/hash.obj
/bin/katago.dir/Debug/gtpconfig.obj
/bin/katago.dir/Debug/gtp.obj
/bin/katago.dir/Debug/global.obj
/bin/katago.dir/Debug/gatekeeper.obj
/bin/katago.dir/Debug/fancymath.obj
/bin/katago.dir/Debug/evalsgf.obj
/bin/katago.dir/Debug/elo.obj
/bin/katago.dir/Debug/distributiontable.obj
/bin/katago.dir/Debug/desc.obj
/bin/katago.dir/Debug/datetime.obj
/bin/katago.dir/Debug/contribute.obj
/bin/katago.dir/Debug/config_parser.obj
/bin/katago.dir/Debug/commandline.obj
/bin/katago.dir/Debug/client.obj
/bin/katago.dir/Debug/bsearch.obj
/bin/katago.dir/Debug/boardhistory.obj
/bin/katago.dir/Debug/board.obj
/bin/katago.dir/Debug/benchmark.obj
/bin/katago.dir/Debug/asyncbot.obj
/bin/katago.dir/Debug/analysisdata.obj
/bin/katago.dir/Debug/analysis.obj
/bin/Debug/libssl-1_1-x64.dll
/bin/Debug/libcrypto-1_1-x64.dll
/bin/Debug/katago.pdb
/bin/Debug/katago.ilk
/bin/ALL_BUILD.vcxproj.filters
/bin/ALL_BUILD.vcxproj
/bin/.vs/katago/v16/Solution.VC.db-wal
/bin/.vs/katago/v16/Solution.VC.db-shm
/bin/.vs/katago/v16/Solution.VC.db
/bin/.vs/katago/v16/ipch/AutoPCH/fbd276b2a7582b18/BOARDHISTORY.ipch
/bin/.vs/katago/v16/ipch/AutoPCH/ce77638cc1c2126b/ELO.ipch
/bin/.vs/katago/v16/ipch/AutoPCH/7aaadfdba7d6fae6/GLOBAL.ipch
/bin/.vs/katago/v16/ipch/AutoPCH/463ff9bca13dba0c/SEARCH.ipch
/bin/.vs/katago/v16/ipch/AutoPCH/38795094ce98bd8a/GTP.ipch
/bin/.vs/katago/v16/ipch/AutoPCH/217873acb605959e/SEARCH.ipch
/bin/.vs/katago/v16/ipch/AutoPCH/1662ab440e110642/GATEKEEPER.ipch
/bin/.vs/katago/v16/Browse.VC.opendb
/bin/.vs/katago/v16/Browse.VC.db
/bin/.vs/katago/v16/.suo
